/* Estiliza a barra de rolagem */
.container-scroll::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
    height: 10px;
    /* Altura da barra de rolagem horizontal */
}

/* Estiliza o "track" (fundo da barra de rolagem) */
.container-scroll::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Cor de fundo */
    border-radius: 5px;
    /* Bordas arredondadas */
}

/* Estiliza o "thumb" (botão da barra de rolagem) */
.container-scroll::-webkit-scrollbar-thumb {
    background: #888;
    /* Cor do botão */
    border-radius: 5px;
    /* Bordas arredondadas */
}

/* Quando o mouse passa sobre o "thumb" */
.container-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Cor ao passar o mouse */
}